*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  color: var(--font-color);
  background-color: var(--background-color);
  font-family: 'Times New Roman', Times, serif;
}
:root{
  --background-color: white;
  --font-color: black;
}

/* Home Page CSS */
.dark-theme{
  --background-color: black;
  --font-color: white; 
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo{
font-size: 2.5rem;
font-weight: 600;
cursor: pointer;
font-family: "Madimi One", sans-serif;
font-weight: 400;
font-style: normal;
}
#A-logo{
  font-family: "Madimi One", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #FC6736;
}

.navbar a{
 font-size: 1.2rem;
 margin-left: 4rem;
 transition: .3s;
 background: none;
}
.navbar a:hover{
  color: #FC6736;
}
#icon{
  width: 35px;
  cursor: pointer;
}

/* Mode toggler button from UIVerse Website */

.theme-checkbox {
  --toggle-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

/* Home section CSS */
section{
  height: 100vh;
  padding: 40px;
}
#home{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 110px 0px;
}
.home-content h3{
  font-size: 2rem;
  font-weight: 500;
}
.home-content h1{
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
}
.role{
  color: #FC6736;
}
.home-content h4{
  font-size: 2rem;
  font-weight: 500;
}
.social-media>a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  font-size: 1.5rem;
  margin: 2rem 1.5rem 3rem 0;
}
.tech-stack{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.tech-stack h2{
  font-size: 1.3rem;
  font-weight: 500;
}
.tech-stack img{
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.tech-stack p{
  font-size: 1.3rem;
  font-weight: 500;
}
.profile-photo img{
  height: 600px;
  width: 500px;
  border-radius:  29% 71% 70% 30% / 58% 44% 56% 42%;
  animation: spin 6s ease-in infinite alternate-reverse;
}
@keyframes spin {
  0% {border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;} 
  50%{border-radius: 40% 60% 60% 40%;}
  100% {border-radius: 30% 70%/ 40% 60%;} 
}

/* About Page CSS */
#about{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 350px;
  gap: 50px;
}

.btn {
  --bg: #FC6736;
  --text-color: #fff;
  position: relative;
  width: 150px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.9;
  letter-spacing: 1px;
  box-shadow: #e93f2c 0px 7px 2px, #000 0px 8px 5px;
  cursor: pointer;
  margin-top: 20px;
}
.btn:hover {
  opacity: 1;
}
.btn:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
}
.btn > a{
  background: none;
  font-size: 1rem;
}

/* RESPONSIVE DESING*/
@media (max-width: 600px){
  #home{
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column-reverse;
    padding: 110px;
  }
  .profile-photo img{
    height: 200px;
    width: 100px;
  }
  .logo{
    font-size: 1.5rem;
    font-weight: 500;
    }
    #A-logo{
      font-size: 1.5rem;
      font-weight: 500;  
    }
    .home-content h3{
      font-size: 1.3rem;
      font-weight: 500;
    }
    .home-content h1{
      font-size: 3rem;
      line-height: 1;
    }
    .home-content h4{
      font-size: 1.5rem;
    }
}